
body 
{
    /*background-color: #212121;*/
    background-color: #191b1c;
}

.name
{
    /*color: aliceblue;*/
    color: #b2e0fa;
}
.name:hover 
{
    color: #DEA309;
    text-decoration: none;
}
.name:visited 
{
    border : none;
}

#LinkCollection /* id */
{
    background-color: #2F3136; 
    /*border: 1px solid #DEA309;*/

    border: 1px solid #DEA309;
}

.links /* class */
{
    color: #b2e0fa;
}

.link_main
{
    color: #DEA309;
}

.links:hover 
{
    color: #DEA309;
    text-decoration: none;
}

.links:visited 
{
    border : none;
}

#MainText 
{
    /*background-color: #2F3136;*/
    background-color:#26292b;
    
    /*color: aliceblue;*/

    /*color: #b2e0fa;*/

    color: #7bb4e4;

}
