
body 
{
    background-color: #212121;
}

.name
{
    color: aliceblue;
}
.name:hover 
{
    color: aliceblue;
    text-decoration: none;
}
.name:visited 
{
    border : none;
}

#LinkCollection /* id */
{
    background-color: #2F3136; 
    border: 1px solid #DEA309;
}

.links /* class */
{
    color: aliceblue;
}
.links:hover 
{
    color: #DEA309;
    text-decoration: none;
}
.links:visited 
{
    border : none;
}

#MainText 
{
    background-color: #2F3136;
    color: aliceblue;

}
